/* background */

:root {
    --background: url("https://files.catbox.moe/n9y6l3.jpg");
}

body {
    background: #000000 var(--background) center center / cover no-repeat fixed !important;
}

.content.container {
    background: rgba(6, 12, 13, 0.3);
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.content div:first-child {
    margin: 0;
}